// Override this file to add your own SCSS styling.

@keyframes slide-from-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-in {
  animation: slide-from-right 1s forwards;
}

// overridden by custom body link color
// a {
//   color: rgb(76, 159, 247);
//   text-decoration: none;
// }
